<!DOCTYPE html>
<html>
<header>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</header>
<body>
<center><h1>Ask me anything about LinkedIn marketing solution!</h1>
<br>
<div
        class="imessage"
        id="id_chat_item_container"
        style="font-size: 20px"
> </div>
    <div>
            <input type="text" id="id_message_send_input"  name="message"/>
            <input type="submit" id="id_message_send_button" value="Send"/>
</div>
</center>
<script>

    renderQuestion = function (messageInput) {
        var div = document.createElement("div");

        var p = document.createElement("p");
        p.className="from-me";
        p.innerHTML = messageInput;
        div.appendChild(p);
        document.querySelector("#id_message_send_input").value = "";
        document.querySelector("#id_chat_item_container").appendChild(div);
    }
    renderAnswer = function (messageInput) {
        var div = document.createElement("div");
        var p = document.createElement("p");
        p.className="from-them";
        p.innerHTML = messageInput;
        div.appendChild(p);
        document.querySelector("#id_message_send_input").value = "";
        document.querySelector("#id_chat_item_container").appendChild(div);
    }
    sendMessage = function (messageInput) {
        return fetch("{% url 'chat' %}", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'mode': 'same-origin',
                'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                "X-CSRFToken": '{{ csrf_token }}'
            },
            body: "message=" + messageInput
        })
            .then(response => response.json())

    }
    document.querySelector("#id_message_send_input").focus();
    document.querySelector("#id_message_send_input").onkeyup = function (e) {
        if (e.keyCode == 13) {
            document.querySelector("#id_message_send_button").click();
        }
    };
    document.querySelector("#id_message_send_button").onclick = function (e) {
        e.preventDefault();
        var messageInput = document.querySelector(
            "#id_message_send_input"
        ).value;
        // send message
        sendMessage(messageInput)
            .then(response => renderAnswer(response['answer']))
        // render question
        renderQuestion(messageInput);
    };
</script>
</body>
</html>
